.shutter-view {
    display: flex;
    margin-top: 2px;
}

.header-bar {
    margin: 4px 0 0 0;
    padding: 0 0 12px 0;
    display: flex;
    position: relative;
}

.view-main-center {
    width: 80%;
}

.side-grid-center {
    display: grid;
    grid-template-areas:
        'link_list'
        'drive_info';
    position: relative;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.link-list-item {
    height: 25px;
    position: relative;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: var(--color_002);
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin-top: 15px;
    padding: 0px 0px 0px 10px;
}

.link-list-item:hover {
    color: var(--color_002);
}

.link-list-item:hover::after {
    content: '';
    background-color: var(--color_002);
    position: absolute;
    width: 90%;
    opacity: 0.2;
    height: 100%;
    left: 0;
    top: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
}

.link-list-logo,
.link-list-text {
    line-height: 1.5;
    z-index: 2;
    word-break: break-all;
    cursor: pointer;
}

.link-list {
    padding: 4px 0 0 0;
    height: 92vh;
    grid-area: link_list;
}

.drive-info {
    height: 17px;
    grid-area: drive_info;
    padding: 0px 5px;
    position: fixed;
    position: relative;
    margin-top: 30px;
}

.progress-view {
    width: 100%;
    height: 4px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

.progress-view-fill {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color_002);
    opacity: 0.3;
    border-radius: 50px;
    z-index: 1;
}

.progress-view-bar {
    background: repeating-linear-gradient(56deg, var(--color_005), var(--color_002) 10px, var(--color_001) 10px, var(--color_002) 20px);
    background-color: var(--color_05);
    width: 49%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
}

.link-list-logo {
    margin: 0 10px 0px 0px;
    font-size: 21px;
    line-height: 1;
}

.right-border {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 2px;
    opacity: 0.4;
    cursor: e-resize;
    border-right: 5px solid transparent;
}

.right-border {}

.link-list-text.close {
    display: none;
}

.link-list-item.close {
    padding: 0;
    overflow: unset;
}

.link-list-logo.close {
    margin-left: auto;
    margin-right: auto;
}

.drive-info.close {
    display: none;
}

.link-list-item.close::after {
    content: '';
    top: -29%;
    left: 18.5%;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 8px;
}

.search-box {
    width: 50%;
    background-color: var(--color_001);
    position: relative;
    top: 6px;
    height: 42px;
    border-radius: 10px;
    overflow: hidden;
}

.logo-box {
    width: 20%;
    overflow: hidden;
    position: relative;
    top: 9px;
}

.logo-box img {
    width: 14%;
    display: inline-block;
    margin-left: 2%;
}

.logo-box .content-title {
    font-size: 23px;
    font-weight: 600;
    display: inline-block;
    width: 82%;
    margin-left: 2%;
}

.border-hide-bottom {
    box-shadow: var(--color_002) 1px 1px 0px;
}


.search-drive {
    background-color: transparent;
    /* background-color: white; */
    height: 100%;
    width: 92%;
    left: 0px;
    position: relative;
    display: inline-block;
    top: -4px;
    padding: 0;
    border: none;
    opacity: 0.7;
}


.search-drive:focus {
    outline: none;
    padding-left: 3px;
}

.search-box button {
    border: none;
    width: 8%;
    height: 100%;
    display: inline-block;
    color: #5f6368;
}

.search-box button i {
    font-size: 23px;
    position: absolute;
    top: 11px;
    left: 27px;
}

.top-divider {
    border-bottom: 2px solid #dadce0;
    content: "\0000a0";
    display: block;
    line-height: 0;
    margin: 23px 0 30px 0;
    padding: 0;
    position: relative;
    width: 102%;
    left: -1%;
}