.shutter-view {
    flex-direction: row-reverse;
}

.right-border {
    right: unset;
    left: 0;
}

.link-list {
    direction: rtl;
    text-align: right;
}

.link-list-logo {
    margin: 0 0px 0px 10px;
}