.folder {
    stroke: var(--color_005);
    fill: var(--color_001);
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.select-bar {
    background-color: var(--color_005);
    border: 4px solid;
    border-color: var(--color_005);
    border-radius: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
    height: 20px;
    width: 20px;
    display: none;
}

.hover-bar {
    height: 98%;
    position: absolute;
    width: 98%;
    background-color: var(--color_005);
    top: 1%;
    left: 1%;
    opacity: 0.4;
    border-radius: 20px;
    display: none;
}



.f-hold {
    position: relative;
    padding: 20px 10px 20px 10px;
    height: fit-content;
    direction: rtl;
    margin: 1%;
}

.f-hold:hover>.select-bar,
.f-hold:hover>.hover-bar,
.f-hold.selected-object-kind>.select-bar,
.f-hold.selected-object-kind>.hover-bar {
    display: block;
}

.f-hold.selected-object-kind>.select-bar {
    background-color: var(--color_002);
}

.f-hold svg {

    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.f-hold svg,
.f-hold img {
    width: 80%;
    margin-right: 9%;
    height: 180px;
}

.drive-bar {
    margin-left: 15px;
    margin-right: 15px;
    min-height: 70vh;
    position: relative;
    min-height: 400px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.f-hold-title {
    width: 80%;
    margin-right: 24px;
    height: 24px;
    overflow: hidden;
}

.drive-bar.dragenter::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color_001);
    border: 7px dotted;
    border-color: var(--color_007);
    opacity: 0.1;
    border-radius: 12px;

}

.drive-bar.dragenter::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: 'فایل خودرا اینجارها کنید';
    color: var(--color_002);
    font-size: 45px;
    font-weight: 800;
    line-height: 90vh;
    text-align: center;
    z-index: 4;
    opacity: 1;
}

.search-drive {
    border: none;
    border-bottom: 2px solid var(--color_003);
    height: 26px;
    width: 100%;
}


.search-drive:focus {
    outline: none;
    padding-left: 3px;
}

.selection-drive {
    position: absolute;
    height: 200px;
    background-color: var(--color_001);
    opacity: 0.2;
    padding: 0 !important;
}

.view-main-center {
    overflow: hidden;
}