<html>
<head>
    <link rel="stylesheet" href="http://localhost:5220/staticdirectories/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://localhost:5220/staticdirectories/public/css/styles.css" />
    <link rel="stylesheet" href="http://localhost:5220/staticdirectories/public/css/input-pack.css" />
    <link rel="stylesheet" href="http://localhost:5220/staticdirectories/public/css/nav-menu.css" />
    <link rel="stylesheet" href="http://localhost:5220/staticdirectories/public/css/fontawesome/all.min.css" />
    <link rel="stylesheet" href="http://localhost:5220/staticdirectories/src/root/web_modal/Web_Modal.css" />
    <link rel="stylesheet" href="http://localhost:5220/staticdirectories/src/layout.css" />
</head>
<body>
</body>
</html>