:root {
    --color_001: #f1f3f4;
    --color_002: #5F6368;
    --color_003: #59cbff;
    --color_004: #99738E;
    --color_005: #d3d3d3;
    --color_006: #FFFFFF;
    --color_007: #F3F3F3;
    --color_008: #dadce0;
}


html,
#root {
    height: 100%;
}
body {
    height: 100%;
    margin: 0px;
    font-family: Samim;
    padding: 0px;
    overflow-x: hidden;
    position: relative;
}


.right-item {
    text-align: right;
    direction: rtl;
}

.left-item {
    text-align: left;
    direction: ltr;
}

@font-face {
    font-family: Yekan;
    src: url("fonts/Yekan.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    src: url("fonts/Yekan.ttf") format("iranyekanwebregularfanum");
}

@font-face {
    font-family: IranNastaliq;
    src: url("fonts/IranNastaliq.woff") format("woff"), url("fonts/IranNastaliq.ttf") format("truetype"), url("fonts/IranNastaliq.eot");
}

@font-face {
    font-family: Samim;
    src: url("fonts/Samim.ttf") format("truetype"), url("fonts/Samim.woff") format("woff");
}

@font-face {
    font-family: Samim-Bold;
    src: url("fonts/Samim-Bold.ttf") format("truetype");
}



/*<-----------------card section------------------>*/

.level-line {
    position: absolute;
    left: 0px;
    right: -1372px;
    z-index: 99;
    background-color: aquamarine;
    color: aquamarine;
    height: 4px;
    display: none;
    top: 35px;
}

.grad-line {
    background-color: rgb(247 247 247);
    margin: 4px 0px 12px;
    padding: 20px 0px;
    direction: rtl;
    width: 100%;
}

.inner-grid {
    padding: 7px;
    box-shadow: rgb(153, 153, 153) 1px 1px 4px;
    border-radius: 0px 3px 3px;
}

    .inner-grid img {
        width: 100%;
        border-radius: 2px;
        height: 280px;
    }

footer {
    height: 200px;
    background-color: black;
    width: 100%;
}

.def-link:active {
    color: black;
}

.def-link {
    color: black;
}

.center-helder {
    min-height: 400px;
    margin-top: 31px;
    margin-bottom: 65px;
}

.center-helder,
.center-helder-zero {
    margin-right: 76px;
    margin-left: 76px;
}

    .center-helder .row {
        width: 100%
    }

.nav-router {
    color: var(--color_001);
    text-decoration: none;
    font-size: 17px !important;
    font-weight: 600 !important;
}

    .nav-router:hover {
        color: var(--color_002);
    }

.link-active a,
.link-active a :hover {
    color: var(--color_003) !important
}

/* .right-item {
  width: 76%;
  margin-left: 12%;
  font-weight: 600;
  font-size: 17px;
} */
